/*nav*/
.nav {
    width: 80%;
    display: flex;
    height: 40px;
  
  }
  
  ul {
    list-style-type: none;
    margin: 13px;
    padding: 0;
  }
  
  li {
    display: inline;
  }
  
     li a {
      padding-right: 17px;;
      color:#c1c1c1;
      text-decoration: none;
      font-family: 'Dosis', sans-serif;
      font-size: 2em;
      display: inline-block;
      position: relative;
    }
    
  /* hover effect underline
     effect-underline*/
     
    /*effect-underline*/
    a.effect-underline:after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 1px solid;
      margin-top: 10px;
      opacity: 0;
      -webkit-transition: opacity 0.75s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
    }
    
    a.effect-underline:hover:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }