html {
  scroll-behavior: smooth;
  background-color: #202124;
}


/*the main div which include the rest div's*/
div.open {
  display: flex;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 5%;
  background-color: #202124;
  min-height: 75vh;
  flex-direction: column;
}

/*div.open.title*/
.open-title {
height: 30%;
width: 10.3ch;                  /*size how wide the '|' go*/
color: #c1c1c1;
transform: translate(-50%, -50%);
font-size: 32px;
font-family: 'Anonymous Pro';

animation: typing 2s steps(15), blink .5s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/*open.description*/
.open.description {
width: 65%;
font-size: 20px;
padding-bottom: 50px;

}

.description{
font-size: 20px;
max-width: 55%;
padding-bottom: 50px;
color: #c1c1c1;
width: 40%;
}

