

html {
  scroll-behavior: smooth;
  background-color: white;
  height: auto;
  font-size: 62.5%;
}


/*the main div which include the rest div's
  included divs: - div.open.title, 
                 - title-wi_01, 
                 - open.description, 
                 - description  
 */
 /*open*/
div.open {
  border-top-right-radius: 0.5% ;
  border-top-left-radius: 0.5%;
  display: flex;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 15%;
  background-color: #202124;
  min-height: 30vh;
  flex-direction: column;
}

/*title-wi_01*/
.title-wi_01 {
  width: 70%;
  height: 100px;
}

/*div.open.title*/
.open-title {
padding-left: 24%;
width: 10.3ch;                  /*size how wide the '|' go*/
color: #c1c1c1;
transform: translate(-50%, -50%);
font-size: 80px;
font-family: 'Anonymous Pro';

animation: typing 2s steps(15), blink .6s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
/* width from | */
border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
@keyframes blink {
  75% {
    border-color: transparent
  }
}


/*open.description*/
.open.description{
padding-bottom: 50px;

}
 /*description*/
.description{
font-size: 25px;
max-width: 50%;
color: #c1c1c1;
margin-right: 50%;
}

.space-block {
  height: 10vh;
  width: 80%;
}

/*line*/
.line {
background: #c1c1c1;
height: 1px;
width: 80%;
border-radius: 25px;
display: flex;
}


